[defaults]
# Quitamos remote_user e inventory fijo para que sea dinámico
host_key_checking = False
retry_files_enabled = False
# Esto ocultará todas las tareas que no se ejecuten por un 'when'
display_skipped_hosts = no

[privilege_escalation]
become = True
become_method = sudo
become_user = root
