# --- Configuración Telegram ---
TELEGRAM_TOKEN="tu_token_aqui"
TELEGRAM_CHAT_ID="tu_chat_id_aqui"

# --- Configuración Microshift ---
KUBECONFIG_PATH="/home/usuario/.kube/config-microshift"

# --- Configuración de Nodo Edge (Dashiell/Marvin) ---
SSH_KEY_PATH="../tu_SSH_KEY"

# --- Configuración SMTP (Alertas Nivel 2) ---
ADMIN_EMAIL="admin@tudominio.com"
SMTP_SERVER="smtp.tudominio.com"
SMTP_PORT="587"
SMTP_USER="alertas@tudominio.com"
SMTP_PASSWORD="tu_app_password_aqui"

# --- Configuración de Aplicaciones a Monitorear ---
TARGET_FRONTEND="deployment/gaia-frontend"
TARGET_BACKEND="deployment/gaia-backend"
TARGET_NAMESPACE="default"
